.feynman__link {
    position: absolute;
    top: 50%;
    right: 48px;
    text-decoration: none;
    color: #000;
    font-size: 36px;
    line-height: 51px;
    font-weight: normal;
  }

  .feynman__link:hover {
    color: #2f80ed;
  }