.resources__logo {
  width: 270px;
  height: 38px;
}

/* не очень хотелось применять hover  непосредственно к img, но тогда приходится добавлять дополнительный класс
к ссылке, что не предусмотрено брифом. Боюсь, что при добавлении классов, не предумотренных брифов, не пройду
тесты при сдаче работы */

.resources__logo:hover {
  opacity: .5;
}